.displayall{
    display: flex;
    flex-direction: column;
    /* gap:40px; */
    /* justify-content: center; */
    align-items: center;
    background-color: aquamarine;
    
}
.card{
    display: flex;
    margin:10px;
    flex-direction: row;
    gap:20px;
    border:1px solid black;
    width:750px;
    border-radius: 5px;
    background-color: blueviolet;
    height: 50px;
    align-items: center;
    justify-content: center;
}
